@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

.pt-80{
  padding-top: 80px;
}
.pb-80{
  padding-bottom: 80px;
}

.header-area {
    padding: 30px 0;
    background-color: #f4f4f4b2;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-size: 24px;
    font-weight: 700;
}
  .menu ul {
    display: flex;
  }
  .menu ul li {
    margin-left: 20px;
  }
  .menu ul li a {
    font-size: 22px;
  }
.bannar-area {
  margin: 20px 0;
}
.bannar-area img {
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 3px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.single-about {
  flex-basis: 30%;
  border: 1px solid #ddd;
  padding: 30px 25px;
  margin: 19px;
}
.single-about i{
  font-size: 28px;
}
.single-about h4 {
  text-transform: capitalize;
  display: 20px;
  font-weight:500px;
  margin:18px 0;
  transition: .3s;
  background-color: #580080b2;
  padding: 10px;
  font-size: 22px;
  color: #fff;
}
.single-about : hover {
  border-color: #ff7720;
}

.section-title h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 60px;
  }


  
  .service {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
  }
  .single-service {
    flex-basis: 379px;
    border: 1px solid #ddd;
    padding: 20px;
  }

  
  .single-service h4 {
    text-align: center;
    background-color: #580080b2;
    color: #fff;
    padding: 10px;
    font-size: 22px;
  }
  .single-service a {
    display: inline-block;
    background-color: #580080b2;
    color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    margin-top: 15px;
  }
  
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.single-gallery {
  flex-basis: 275px;
  margin-bottom: 30px;
}
.single-gallery img {
  vertical-align: middle;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.contact-form {
  flex-basis: 780px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  border: 1px solid #810be366;
  padding: 10px;
  margin-bottom: 10px;
}
.contact-info {
  flex-basis: 350px;
}
.single-contact {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.single-contact i {
  margin-right: 10px;
  background-color: #5b3973ad;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-radius: 50%;
}
.single-contact h4 {
  text-transform: capitalize;
  font-size: 24px;
}
.single-contact h4 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}




.footer{
  text-align:center;
  background-color:#5b3973ad;
  padding: 5px 0;
}
.footer p{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
}